

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-8 col-xs-12">
            @Html.Action("ShowExpenses", "Expenses")
        </div>

    </div>

</div>