@model PaniDomu.ViewModels.SumCategoryViewModel

<div>
    <p style="font-size: 20px"><span class="label label-primary">@Model.CategoryName: <span class="badge">@Model.TotalAmount.ToString("C")</span></span></p>
</div>
