@model PaniDomu.ViewModels.CategoriesExpensesViewModel
@{
    ViewBag.Title = "Pani Domu";
}

<h2>Wydatki</h2>

<div class="jumbotron">
    <div class="row" id="details">
        <div class="col-md-6 col-xs-12">
            <p>Proszę wybrać kategorię:</p>
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li>@Html.ActionLink(item.Name, "Create", "Expenses", new {id = item.Id}, null)</li>
                }
            </ul>
        </div>
       
        <div class="col-md-6 col-xs-12">
            <h4>Zestawienia:</h4>
            @foreach (var item in Model.Categories)
            {
                @Html.Action("SumByCategory", "Expenses", new {id = item.Id})
            }
        </div>
    </div>
 

</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-8 col-xs-12">
            @Html.Action("ShowExpenses","Expenses")
        </div>

    </div>

</div>
